{% extends "base.html" %}

{% block page_content %}
<h1>Olá, sou Roberto Manuel!</h1>
<p>Bem-vindo ao meu portfólio. Aqui você encontrará uma seleção dos meus trabalhos mais recentes e significativos.</p>

<h2>Experiência Profissional</h2>
<ul>
    <li><strong>Desenvolvedor Sênior</strong> - Empresa XYZ, 2018 - Presente</li>
    <li><strong>Desenvolvedor Júnior</strong> - Empresa ABC, 2015 - 2018</li>
</ul>

<h2>Projetos</h2>
<ul>
    <li><strong>Projeto 1</strong>: Descrição breve do projeto 1.</li>
    <li><strong>Projeto 2</strong>: Descrição breve do projeto 2.</li>
</ul>

<h2>Habilidades</h2>
<ul>
    <li>Python</li>
    <li>Django</li>
    <li>JavaScript</li>
    <li>React</li>
</ul>

<h2>Contato</h2>
<p>Para mais informações ou para discutir oportunidades de trabalho, por favor entre em contato através do email: roberto.manuel@example.com</p>

{% endblock page_content %}